body {
  margin: 0;
  background-color: #fafafa;
  transition: 250ms;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

@font-face {
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'FontAwesome';
}

h1,
h2,
h3 {
  color: #404040;
  font-family: 'Lato';
  font-weight: 700;
  margin: 0;
}

p,
li,
form,
input,
textarea,
div,
text,
svg {
  color: #999;
  font-family: 'Lato';
  font-weight: 400;
  margin: 0;
}

input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.actionBtn {
  border-radius: 2px;
  background-color: #f15a5a;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.actionBtn2 {
  border-radius: 2px;
  background-color: #63acd9;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.actionBtn2:hover {
  background-color: #3394d4;
}

.actionBtn3 {
  border-radius: 2px;
  background-color: #7979c7;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.actionBtn3.small{
  font-size: 14px;
  padding: 0.25em 0.5em;
}

#topBar {
  width: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  padding: 4px 0 2px 0;
}

  height: 35px;
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
}

#topBar h3 {
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
  margin-top: 7px;
  font-weight: 400;
}

#topBar .actionBtn {
  font-size: 14px;
  margin-right: 8px;
  margin-top: 2px;
  display: inline-block;
}

#topBar table{
  width:100%;
  border-spacing: 0;
}

.searchBox{
  display: inline-block;
  background-color: #f3f3f3;
  border:1px solid #e6e6e6;
  border-radius: 2px;
}

.searchBox i{
  font-size: 16px;
  padding: 0 4px;
}

.leftBox{
  text-align: left;
}

.rightBox{
  text-align: right;
}

#auto{
  border: none;
  width:270px;
  padding: 6px 4px;
}

#main{
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right:0;
}

.ui-autocomplete {
    max-height: 300px;
    max-width: 600px
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    font-size: 14px;
  }

/** D3 STYLES **/

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: #f3f3f3;
}

.label {
  font-size: 13px;
  fill:#404040;
  font-weight: 700;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}
