body {
  margin: 0;
  background-color: #fafafa;
  transition: 250ms;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

@font-face {
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'FontAwesome';
}

h1,
h2,
h3 {
  color: #404040;
  font-family: 'Lato';
  font-weight: 700;
  margin: 0;
}

p,
li,
form,
input,
textarea,
div,
text,
svg {
  color: #999;
  font-family: 'Lato';
  font-weight: 400;
  margin: 0;
}

input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.actionBtn {
  border-radius: 2px;
  background-color: #f15a5a;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.actionBtn2 {
  border-radius: 2px;
  background-color: #63acd9;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.actionBtn2:hover {
  background-color: #3394d4;
}

.actionBtn3 {
  border-radius: 2px;
  background-color: #7979c7;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.actionBtn3.small{
  font-size: 14px;
  padding: 0.25em 0.5em;
}

.warn{
  color:red;
  display: none;
}

span.def{
  color: #690;
}

.intro{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:8;
  background-color: rgba(255,255,255, 0.9)
}

.ctr{
  text-align: center;
  width: 765px;
  height: 125px;
  position: absolute;
  top: 0;
  margin: auto auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.ctr div{
  display: inline-block;
  margin-top: 16px;
}

#topBar {
  width: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  padding: 4px 0 2px 0;
}

#topBar img {
  height: 35px;
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
}

#topBar h3 {
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
  margin-top: 7px;
  font-weight: 400;
}

#topBar .actionBtn {
  float: right;
  font-size: 14px;
  margin-right: 8px;
  margin-top: 2px;
}

#main{
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  width: 70%;
  background-color: #ecf0f1;
}

#main .imgs{
  margin: auto;
  display: block;
  position: absolute;
  width: 20%;
  vertical-align: bottom;
  bottom: 10px;
  left: 41%;
}

.imgs.fat{
  width:60% !important;
  left:19% !important;
}

.imgs img{
  position: relative;
}

.imgs .firstImg{
  width: 100%;
}

.absoluted{
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.rightBrdr{
  height:200%;
  position: absolute;
  width:2px;
  bottom: 0;
  background-color: #aaa;
  right:-10px;
  display: none;
}

.rightLabel{
  position: absolute;
  bottom:196%;
  right:-153px;
  display: none;
}

.glassBrdr{
  height:57%;
  position: absolute;
  width:2px;
  bottom: 0;
  background-color: #3394d4;
  right:-20px;
  display: none;
}

.showScoops{
  display: table;
  margin: 8px auto;
}

.glassLabel{
  position: absolute;
  bottom:54%;
  right:-164px;
  color:#3394d4;
  display: none;
}

#side{
  position: absolute;
  top: 45px;
  bottom: 50px;
  overflow-y: auto; 
  right: 0;
  width: 30%;
  background-color: #fafafa;
  border-left: 1px solid #e6e6e6;
}

.sideSect{
  padding: 4px 8px;
  text-align: center;
  display: none;
}

.sideSect a p, .sideSect .displayObj{
  color:#3394d4;
  margin-top: 4px;
  display: table;
  cursor: pointer;
}

.sideSect.codeSnip{
  text-align: left;
}

.sideSect p.fillIn{
  margin-top: 8px;
  color: #404040;
}

.lastLink{
  text-align: center;
}

.lastLink:hover{
  text-decoration: none;
}

.lastLink div, .codeSnip div.actionBtn2{
  display: table;
  margin: auto;
}

.codeSnip code{
  font-size: 14px;
}

.sideSect.first{
  display: block;
}

.sideSect .header, .sideSect .txtbod, .sideSect .uniqData{
  text-align: left;
}

.uniqData .indent{
  padding-left: 8px;
}

.sideSect p{
  font-size: 14px;
}

.sideSect .code{
  margin: 4px 0;
  color: #404040;
  font-size: 14px;
}

.sideSect .code2{
  word-break: break-all;
}

.sideSect h3{
  font-size: 16px;
  margin-top: 12px;
}

.txtbod {
  padding-top: 12px;
}

.sideSect .actionBtn2{
  display: inline-block;
  margin: 24px auto 0 auto;
}

.sideSect .actionBtn3{
  display: inline-block;
  margin: 12px auto 0 auto;
}

.sideSect input, .sideSect textarea{
  padding: 4px;
  width: 85%;
  margin: 2px 0 4px 0;
  background-color: #404040;
  border: none;
  border-radius: 2px;
  color: #fafafa;
  resize:none;
}

.sideSect > h3{
  margin: 12px 0;
}

.seedType{
  text-align: center;
  width: 25%;
  padding: 0 8px;
  display: inline-block;
}

.seedType .actionBtn3{
  margin-top: 4px;
  display: inline-block;
}

.uniqData{
  margin-top: 12px;
}

.seedType img{
  height: 40px;
}

.footer{
  position: fixed;
  bottom: 0;
  right:0;
  width: 30%;
  background: #f3f3f3;
  text-align: center;
  font-size: 18px;
  padding: 8px 0;
}

.footer p{
  color: #404040;
}

pre.prettyprint{
  margin: 8px 0 !important;
  padding: 0.5em !important;
}

pre.prettyprint.inline{
  width: auto !important;
  display: inline-block !important;
  margin: 0 !important;
  padding: 0.25em !important
}