.introLine{
	margin-left: 10px;
	width:950px;
}

.introLine h2{
	margin: 8px 8px 0 0;
	display: inline-block;
}

.introLine .line1{
	display: inline-block;
	vertical-align: text-top;
	margin-top: -4px;
	color: #ccc;
}

.introLine p{
	line-height: 140%;
	margin: 4px 0;
	color: #404040;
}

#editor{
	position: absolute;
	top:200px;
	left:0;
	width:720px;
	bottom: 0;
	font-size: 14px;
}

#editor *{
	font-family: monospace;
}

#imgRight{
	position: absolute;
	top:200px;
	left:720px;
	width:300px;
	bottom: 0;
	text-align: center;
	background-color: white;
}

#imgRight p{
	font-size: 14px;
}

#imgRight h3{
	font-size: 18px;
}

#imgRight img{
	height:50px;
}

#errmsg{
	display: none;
	position: absolute;
	top:0;
	width: 100%;
	color: red;
	background-color: white;
	margin: 8px 0;
}

.rightSect{
	height:25%;
	transition: 250ms;
	position: relative;
	border-left:1px solid #ccc;
}

.light{
	background-color: #f6fbfc;
	border-right:1px solid #ccc;
}

.rightSect .smErr{
	position: absolute;
	z-index:10;
	top: 0;
	width: 100%;
	color: red;
}

.ace_line { 
   pointer-events: auto 
}

#tooltip{
	position: absolute;
	top:0;
	left:0;
	width:300px;
	padding:12px 8px;
	background-color: white;
	border: 1px solid #ccc;
	z-index: 100;
	display: none;
	pointer-events: none;
	text-align: center;
} 

#tooltip img{
	max-height: 100px;
	max-width:270px;
	margin-bottom:4px;
}

#tooltip p{
	color: #404040;
	font-size: 14px;
	text-align: left;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e6e6e6;
  position: absolute;
  bottom: -21px;
  left:130px;
}

div.leftAl{
	left:1px;
}


@media screen and (max-width: 1260px) {
	#editor{
		width: auto;
		right:300px;
	}
	#imgRight{
		left: auto;
		right:0;
	}
}

@media screen and (max-width: 1000px) {
	.introLine{
		width: 640px;
	}

	.introLine h2{
		margin-top: 0px;
	}
}