body {
  margin: 0;
  background-color: white;
  transition: 250ms;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

@font-face {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'FontAwesome';
}

h1,
h2,
h3 {
  color: #404040;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 0;
}

p,
li,
form,
input,
textarea,
div,
text,
svg {
  color: #999;
  font-family: 'Roboto';
  font-weight: 400;
  margin: 0;
}

input,
textarea {
  font-family: inherit;
}

a, a > p{
  color:#3394d4;
}

a:hover {
  text-decoration: none;
}

p{
  font-size: 14px;
}


.actionBtn {
  border-radius: 2px;
  background-color: #f15a5a;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.actionBtn2 {
  border-radius: 2px;
  background-color: #63acd9;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.actionBtn2:hover {
  background-color: #3394d4;
}

.actionBtn3 {
  border-radius: 2px;
  background-color: #7979c7;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.actionBtn3.small{
  font-size: 14px;
  padding: 0.25em 0.5em;
}

#topBar {
  width: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  padding: 4px 0 2px 0;
}

#topBar img {
  height: 35px;
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
}

#topBar h3 {
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
  margin-top: 7px;
  font-weight: 400;
}

#topBar h3 span{
  color: #f15a5a;
}

#topBar .actionBtn {
  float: right;
  font-size: 14px;
  margin-right: 8px;
  margin-top: 2px;
}

.rightMenu{
  float:right;
  margin-right: 4px;
}

.rightMenu p{
  display: inline-block;
  margin: 10px 8px 0 8px;
}

.heroBanner{
  position: relative;
}

.whiteScreen{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background-color: white;
  background: url('/img/brainBack2.jpg') no-repeat center center;
  background-size: cover;
  z-index: -1;
  opacity:0.7;
}

.heroTxt{
  padding-bottom:90px;
  padding-top:110px;
  width:700px;
  padding-left:40px;
}

.heroTxt h1{
  font-weight: 700;
}

.heroTxt > p{
  margin-top:16px;
  font-size:18px;
  color: #404040;
}

.action{
    width: 600px;
    background-color: white;
    border: 1px solid #999;
    border-radius:2px;
    margin-top:64px;
    padding:12px;
}

.action p{
  color:#999;
  margin-top:8px;
}





#main{
  width:960px;
  margin: 20px auto;
  padding-bottom: 60px;
}

.topics{
  margin-bottom: 16px;
}

.topics >h2{
  font-weight:300;
  color:#999;
  margin-bottom:4px;
}

.topics .major{
  color: #404040;
  font-weight: 500;
  font-size: 16px;
}

.topics .segment{
  display: inline-block;
  margin:24px 16px 16px 0;
  transition:250ms;
  font-size:18px;
  font-weight: 300;
  color:#3394d4;
  text-decoration: underline;
  cursor: pointer;
}

.topics .segment:hover{
  color: #999;
}

.pane h2{
  margin-top:48px;
}

.cards h3{
  margin:16px 0;
  color: #7979c7;
}

.card{
  width:100%;
  margin: 4px 8px 16px 0px;
  padding: 8px 0px 0px 6px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  border:1px solid #e6e6e6;
}

.card img{
  width:45px;
  margin-right: 12px;
  margin-bottom:8px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.bodySec{
  display: inline-block;
  width: 60%;
}

.buttons{
  display: inline-block;
  float:right;
}

.topLine{
  font-size: 18px;
  display: inline-block;
  color: #404040;
  padding:2px 0px 0px 0px;
}

.card .subTitle{
  padding: 4px 0 8px 0;
}

.card .minor{
  font-size: 14px;
  margin: 0px 16px 8px 0;
  background-color: #3394d4;
  color: white;
  text-align: center;
  padding: 4px 12px;
  border-radius: 2px;
}

.card .minor .fa{
  margin-right:4px;
}

.card .minor:hover{
  background-color:#7979c7;
  transition:250ms;
}

.about p{
  font-size: 16px;
  color: #404040;
  margin:24px 0;
}




@media screen and (max-width: 1000px) {

  .heroTxt{
    padding: 80px 10% 40px 10%;
    width:80%;
    text-align: center;
  }

  .action{
    margin: 64px auto 0 auto;
  }

  #main{
    width:700px;
    margin-top:48px;
  }
}

@media screen and (max-width: 770px) {
  .heroTxt h1{
    font-size:26px;
  }

  .heroTxt p{
    font-size: 16px;
  }

  .action{
    width:100%;
  }

  .bodySec{
    width:260px;
  }

  #main{
    width:95%;
    margin: 48px 0% 0 2%;
  }

  .rightMenu{
    display: none;
  }

  #mc_embed_signup form .clear input{
    margin: 12px auto 0 auto !important;
    display: block;
    width: 160px;
  }
}

@media screen and (max-width: 570px) {
  .heroTxt{
    padding: 40px 5% 20px 5%;
    width:90%;
  }

  .heroTxt h1{
    font-size:18px;
  }

  .topics > h2{
    font-size: 18px;
  }

  .topics .major{
    font-size: 14px;
  }

  .heroTxt p, .action h3{
    font-size: 14px;
  }

  .action{
    margin-top:32px;
    width: 260px;
  }

  #main{
    margin-top: 24px;
    text-align: center;
  }

  .bodySec{
    width:220px;
  }

  .action p{
    display: none;
  }

  .card{
    text-align: left;
    width:290px;
  }

  .buttons{
    float: none;
    display: block;
    width: 200px;
    margin-left: 60px;
  }

  .card .minor{
    padding:8px 12px;
  }
}
    