
/* line 584 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */

/* line 1 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
body {
  margin: 0;
  background-color: #f1f1f1;
  transition: 250ms;
}

/* line 5 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
@font-face {
  font-family: 'Roboto', sans-serif;
}

/* line 7 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
h1,
h2,
h3 {
  color: #404040;
  font-family: 'Roboto';
  font-weight: 700;
  margin: 0;
}

/* line 12 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
p,
li,
form,
input,
textarea,
div {
  color: #999;
  font-family: 'Roboto';
  font-weight: 400;
  margin: 0;
}

/* line 17 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
input,
textarea {
  font-family: inherit;
}

/* line 19 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
a {
  text-decoration: none;
}

/* line 21 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
a:hover {
  text-decoration: underline;
}

/* line 23 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.actionBtn {
  border-radius: 2px;
  background-color: #63acd9;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

/* line 29 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.actionBtnMin {
  border-radius: 2px;
  background-color: #7979c7;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

/* line 36 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.container {
  position: relative;
  height: 100%;
}

/* line 39 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.search {
  float: right;
  margin-top: 3px;
  background-color: #ccc;
  border-radius: 0 2px 2px 0;
}

/* line 44 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.search input {
  padding: 6px 4px;
  width: 250px;
  font-size: 14px;
  border: none;
}

/* line 49 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.search i {
  padding: 0 8px 0 4px;
  cursor: pointer;
  color: #404040;
}

/* line 53 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath {
  border: 2px solid #7979c7;
  border-radius: 4px;
  position: relative;
  background-color: #fafafa;
}

/* line 58 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .fa-times {
  position: absolute;
  cursor: pointer;
  font-size: 1.5em;
  top: 3px;
  right: 7px;
}

/* line 64 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */

/* line 65 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form {
  margin: 8px 8px 16px 12px;
}

/* line 67 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .invis {
  display: none;
}

/* line 69 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */

/* line 70 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk h3 {
  color: #7979c7;
  display: inline-block;
}
@media (max-width: 1240px) {

/* line 73 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .newPath .formWrap form .chunk h3 {
    font-size: 16px;
  }
}

/* line 75 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk select.curCat {
  display: inline-block;
  margin: 0;
  color: #999;
  margin-left: 16px;
  font-weight: 400;
  font-size: 14px;
  width: 150px;
}
@media (max-width: 600px) {

/* line 83 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .newPath .formWrap form .chunk select.curCat {
    display: block;
    margin: 8px 0;
  }
}

/* line 86 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk select.curCat .genCat {
  color: #404040;
}

/* line 88 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk select.curCat .specCat {
  font-weight: 300;
}

/* line 90 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk p {
  color: #404040;
  margin-bottom: 4px;
  margin-top: 8px;
}

/* line 94 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk .col1 {
  width: 33%;
}
@media (max-width: 1240px) {

/* line 96 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .newPath .formWrap form .chunk .col1 {
    width: 40%;
  }
}

/* line 98 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk .col2 {
  width: 60%;
  margin-left: 6%;
}
@media (max-width: 1240px) {

/* line 101 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .newPath .formWrap form .chunk .col2 {
    margin-left: 4%;
    width: 55%;
  }
}

/* line 104 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk .col1,
.newPath .formWrap form .chunk .col2 {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 850px) {

/* line 108 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .newPath .formWrap form .chunk .col1,
  .newPath .formWrap form .chunk .col2 {
    display: block;
    margin-left: 0%;
    width: 96%;
  }
}

/* line 112 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk .col1 input[type="text"],
.newPath .formWrap form .chunk .col2 input[type="text"],
.newPath .formWrap form .chunk .col1 textarea,
.newPath .formWrap form .chunk .col2 textarea {
  width: 95%;
  padding: 2px;
}

/* line 115 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk .col1 textarea,
.newPath .formWrap form .chunk .col2 textarea {
  height: 76px;
}

/* line 117 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk .formBtn {
  border: none;
  position: absolute;
  font-size: 14px;
  bottom: 4px;
  right: 4px;
}
@media (max-width: 1240px) {

/* line 123 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .newPath .formWrap form .chunk .formBtn {
    position: initial;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
  }
}
@media (max-width: 850px) {

/* line 128 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .newPath .formWrap form .chunk .formBtn {
    float: none;
    display: block;
    margin-top: 16px;
  }
}

/* line 132 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk .ui-buttonset {
  display: inline-block;
}

/* line 134 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk .ui-buttonset input {
  display: none;
}

/* line 136 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk .ui-buttonset label {
  float: left;
  padding: 4px 8px;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
}
@media (max-width: 1240px) {

/* line 143 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .newPath .formWrap form .chunk .ui-buttonset label {
    font-size: 12px;
  }
}

/* line 145 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.newPath .formWrap form .chunk .formError {
  color: #f00;
  margin-left: 4px;
}
@media (max-width: 1240px) {

/* line 148 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .newPath .formWrap form .chunk .formError {
    margin-top: 4px;
    width: 400px;
  }
}
@media (max-width: 560px) {

/* line 151 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .newPath .formWrap form .chunk .formError {
    width: 300px;
    margin-left: 0;
  }
}

/* line 154 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.lightBox {
  display: none;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
}

/* line 163 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.lightBox .newPath {
  margin: 30px auto 0 auto;
  width: 800px;
}
@media (max-width: 850px) {

/* line 166 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .lightBox .newPath {
    width: 80%;
  }
}
@media (max-width: 560px) {

/* line 168 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .lightBox .newPath {
    width: 96%;
  }
}

/* line 170 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#topBar {
  background-color: #e6e6e6;
  width: 100%;
  padding: 6px 0;
  position: fixed;
  z-index: 10;
}

/* line 176 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#topBar .logoContain {
  display: inline-block;
  cursor: pointer;
}

/* line 179 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#topBar img {
  display: inline-block;
  height: 33px;
  margin-left: 8px;
}

/* line 183 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#topBar h3 {
  color: #404040;
  vertical-align: top;
  margin: 6px 0 0 6px;
  display: inline-block;
}

/* line 188 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#topBar p {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin: 10px 0 0 4px;
}
@media (max-width: 600px) {

/* line 193 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  #topBar p {
    display: none;
  }
}

/* line 195 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#topBar .menuToggle {
  float: right;
  color: #404040;
  font-size: 30px;
  margin: 2px 12px 0 0;
  display: none;
  cursor: pointer;
}
@media (max-width: 850px) {

/* line 202 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  #topBar .menuToggle {
    display: block;
  }
}

/* line 204 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar {
  background-color: #2c3e50;
  width: 270px;
  position: fixed;
  top: 49px;
  left: 0;
  bottom: 0;
  z-index: 10;
}
@media (max-width: 1240px) {

/* line 212 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  #sideBar {
    width: 220px;
  }
}
@media (max-width: 851px) {

/* line 214 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  #sideBar {
    display: block;
  }
}
@media (max-width: 850px) {

/* line 216 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  #sideBar {
    display: none;
    left: auto;
    right: 0;
    text-align: right;
  }
}

/* line 221 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .sideHead {
  padding: 8px;
  background-color: rgba(0,0,0,0.3);
  border-bottom: 2px solid #000;
}

/* line 225 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .sideHead h3 {
  color: #fff;
}

/* line 227 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar p {
  color: #999;
}

/* line 229 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar a:hover {
  text-decoration: none;
}

/* line 231 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category {
  padding-top: 16px;
}

/* line 233 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category p.listHighlight,
#sideBar .category li.listHighlight {
  color: #e74c3c;
}

/* line 235 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category .catHead {
  cursor: pointer;
  margin-bottom: 4px;
  display: inline-block;
}

/* line 239 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */

/* line 240 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category .catHead:hover * {
  color: #999;
  transition: 500ms;
}

/* line 243 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category i {
  color: #f3f3f3;
  float: left;
  padding-left: 8px;
  font-size: 0.8em;
  transition: 500ms;
}
@media (max-width: 850px) {

/* line 249 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  #sideBar .category i {
    padding-left: 0;
    padding-right: 8px;
  }
}

/* line 252 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category p {
  color: #f3f3f3;
  float: left;
  padding-left: 8px;
  margin-top: -4px;
}
@media (max-width: 850px) {

/* line 257 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  #sideBar .category p {
    padding-left: 0;
    padding-right: 8px;
  }
}

/* line 260 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category ul {
  clear: both;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

/* line 266 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category ul li {
  color: #ccc;
  padding: 2px 0;
  margin: 2px 0;
  padding-left: 29px;
  cursor: pointer;
}
@media (max-width: 850px) {

/* line 272 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  #sideBar .category ul li {
    padding-left: 0;
    padding-right: 8px;
    padding-bottom: 6px;
  }
}

/* line 276 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .suggest {
  margin-top: 8px;
  width: 160px;
  margin: 16px auto 0 auto;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 1240px) {

/* line 282 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  #sideBar .suggest {
    padding: 0.5em;
  }
}

/* line 284 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window {
  position: absolute;
  top: 49px;
  left: 270px;
  bottom: 0;
  right: 0;
}
@media (max-width: 1240px) {

/* line 290 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window {
    left: 220px;
  }
}
@media (max-width: 850px) {

/* line 292 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window {
    left: 0;
  }
}

/* line 294 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .comments {
  bottom: 8px;
  right: 8px;
  position: fixed;
  font-size: 14px;
  z-index: 11;
}
@media (max-width: 850px) {

/* line 300 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .comments {
    display: none;
  }
}

/* line 302 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening {
  text-align: center;
}

/* line 304 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .backImg {
  width: 100%;
  background: url("/img/mainBackSM.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  z-index: -1;
}
@media (max-width: 600px) {

/* line 314 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening .backImg {
    height: 250px;
  }
}

/* line 316 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .backImg .screen {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* line 320 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening h1 {
  color: #fff;
  margin-top: 5.5em;
  margin-bottom: 0.75em;
}
@media (max-width: 1240px) {

/* line 324 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening h1 {
    font-size: 27px;
    margin-top: 5.5em;
    padding: 0 1.5em;
  }
}
@media (max-width: 600px) {

/* line 328 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening h1 {
    font-size: 21px;
    margin-top: 4.5em;
  }
}
@media (max-width: 400px) {

/* line 331 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening h1 {
    font-size: 18px;
    margin-top: 4em;
  }
}

/* line 334 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening > p {
  color: #fff;
  font-size: 18px;
  width: 500px;
  line-height: 140%;
  margin: 0 auto 80px auto;
}
@media (max-width: 1240px) {

/* line 340 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening > p {
    margin-bottom: 100px;
  }
}
@media (max-width: 800px) {

/* line 342 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening > p {
    margin-bottom: 80px;
  }
}
@media (max-width: 600px) {

/* line 344 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening > p {
    font-size: 14px;
    width: auto;
    padding: 0 1em;
    margin-bottom: 0px;
  }
}

/* line 349 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .featureRow {
  padding-top: 80px;
}

/* line 351 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
@media (max-width: 400px) {

/* line 352 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening .featureRow.second {
    padding-top: 0;
  }
}

/* line 354 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
@media (max-width: 400px) {

/* line 355 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening .phantomBox {
    display: none;
  }
}

/* line 357 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat {
  display: inline-block;
  width: 165px;
  margin: 0px 16px;
}
@media (max-width: 600px) {

/* line 361 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening .mainPgCat {
    width: 120px;
    margin-left: 4px;
    margin-right: 4px;
  }
}
@media (max-width: 400px) {

/* line 365 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening .mainPgCat {
    display: block;
    margin: 0 auto 32px auto;
  }
}

/* line 368 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat > p {
  color: #999;
  font-weight: 300;
}

/* line 371 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat .links {
  margin: 8px 0 4px 0;
}

/* line 373 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
@media (max-width: 600px) {

/* line 374 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening .mainPgCat .initChoice {
    padding: 0.25em 0.5em;
    height: 20px;
  }

/* line 377 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening .mainPgCat .initChoice p {
    font-size: 12px;
  }
}

/* line 379 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat .initChoice .fa,
.window #opening .mainPgCat .initChoice span {
  font-size: 22px;
}
@media (max-width: 600px) {

/* line 381 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening .mainPgCat .initChoice .fa,
  .window #opening .mainPgCat .initChoice span {
    font-size: 16px;
  }
}

/* line 383 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat .initChoice span {
  font-weight: 700;
}

/* line 385 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat .initChoice .fa {
  padding: 2px 0 3px 0;
}

/* line 387 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat .initChoice p {
  display: inline-block;
  color: #fff;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 8px;
}

/* line 393 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat .initChoice p.smallTxt {
  font-size: 14px;
  margin-top: 6px;
}
@media (max-width: 600px) {

/* line 396 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window #opening .mainPgCat .initChoice p.smallTxt {
    font-size: 11px;
  }
}

/* line 398 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat {
  display: none;
}

/* line 400 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .legend {
  position: fixed;
  top: 57px;
  right: 8px;
  padding: 4px 8px;
  background-color: #e6e6e6;
}
@media (max-width: 1240px) {

/* line 406 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .legend {
    font-size: 14px;
  }
}
@media (max-width: 850px) {

/* line 408 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .legend {
    position: initial;
    margin: 8px 0 4px 8px;
    border-radius: 4px;
    display: inline-block;
  }
}

/* line 413 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
@media (max-width: 850px) {

/* line 414 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .legend > div {
    display: inline-block;
  }
}

/* line 416 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .legend p {
  color: #7979c7;
  margin-bottom: 4px;
  font-weight: 700;
}
@media (max-width: 1240px) {

/* line 420 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .legend p {
    margin-bottom: 8px;
  }
}
@media (max-width: 850px) {

/* line 422 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .legend p {
    margin-bottom: 4px;
  }
}

/* line 424 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .legend p.second {
  margin-top: 8px;
}

/* line 426 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .legend input {
  margin-right: 2px;
  margin-bottom: 8px;
  margin-left: 8px;
  cursor: pointer;
}
@media (max-width: 1240px) {

/* line 431 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .legend input {
    margin-bottom: 12px;
  }
}
@media (max-width: 850px) {

/* line 433 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .legend input {
    margin-left: 0;
    margin-top: 2px;
    margin-right: 0;
    margin-bottom: 6px;
  }
}

/* line 438 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .legend label {
  color: #404040;
  font-weight: 300;
  cursor: pointer;
}
@media (max-width: 850px) {

/* line 442 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .legend label {
    margin-right: 8px;
    vertical-align: top;
  }
}

/* line 445 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat #mainPane {
  background-color: #fafafa;
  display: inline-block;
  border-right: 2px solid #ccc;
  width: 800px;
}
@media (max-width: 1240px) {

/* line 450 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat #mainPane {
    width: 77%;
  }
}
@media (max-width: 850px) {

/* line 452 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat #mainPane {
    width: 99%;
  }
}

/* line 454 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions {
  margin: 8px 8px 0 12px;
}

/* line 456 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .learnSum {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 12px;
  display: none;
}

/* line 461 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .learnSum h2 {
  color: #7979c7;
  font-size: 1.2em;
}

/* line 464 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .learnSum .suggest {
  width: 49%;
  display: inline-block;
  padding-top: 12px;
  vertical-align: top;
}

/* line 469 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .learnSum .suggest > div {
  margin-bottom: 2px;
}

/* line 471 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .learnSum .suggest i,
.window .learningCat .topOptions .learnSum .suggest p {
  display: inline-block;
}

/* line 473 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .learnSum .suggest p,
.window .learningCat .topOptions .learnSum .suggest span {
  font-size: 14px;
}

/* line 475 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .learnSum .suggest p.title {
  display: block;
  color: #404040;
  font-weight: 700;
  margin-bottom: 4px;
}

/* line 480 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .learnSum .suggest i {
  padding-bottom: 2px;
  padding-right: 4px;
}

/* line 483 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .learnSum .suggest span {
  font-weight: 700;
}

/* line 485 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */

/* line 486 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .learnSum .suggest.prev i {
  color: #008000;
}

/* line 488 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */

/* line 489 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .learnSum .suggest.next i {
  color: #f00;
}
@media (max-width: 600px) {

/* line 491 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .topOptions .learnSum {
    display: none !important;
  }
}

/* line 493 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .secondSearch {
  overflow: hidden;
}
@media (max-width: 850px) {

/* line 496 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .topOptions .secondSearch input {
    width: 200px;
  }
}

/* line 498 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .secondSearch .add {
  color: #fff;
  display: inline-block;
}
@media (max-width: 500px) {

/* line 501 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .topOptions .secondSearch .add {
    width: 140px;
    display: block;
    margin: 4px auto;
  }
}

/* line 505 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .secondSearch .add i {
  margin-right: 4px;
}

/* line 507 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .secondSearch .add p {
  color: #fff;
  display: inline-block;
}

/* line 510 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .secondSearch .search {
  float: right;
  border: 1px solid #ccc;
}
@media (max-width: 500px) {

/* line 513 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .topOptions .secondSearch .search {
    float: none;
    display: block;
    width: 231px;
    margin: 16px auto 4px auto;
    border: 1px solid #ccc;
  }
}

/* line 519 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody {
  margin: 4px 12px 8px 8px;
  display: inline-block;
}

/* line 522 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath {
  position: relative;
  font-size: 14px;
}

/* line 525 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .thumbUp {
  vertical-align: top;
}

/* line 527 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .upVoteBox {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

/* line 531 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .upVoteBox h2.upTotal {
  margin-top: 2px;
  font-size: 1.3em;
  color: #404040;
}

/* line 535 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .upVoteBox .approval {
  opacity: 0;
  transition: 250ms;
  font-size: 12px;
}

/* line 539 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .upVoteBox i {
  color: #999;
  transition: 250ms;
  font-size: 21px;
  margin-top: 3px;
}

/* line 544 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .upVoteBox i:hover {
  color: #3498db;
  cursor: pointer;
}

/* line 547 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .upVoteBox i.upvoted {
  pointer-events: none;
  color: #3498db;
}

/* line 550 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum {
  display: inline-block;
  margin-left: 12px;
}

/* line 553 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum .subcat,
.window .learningCat .addPathsBody .userPath .linkSum .filter,
.window .learningCat .addPathsBody .userPath .linkSum .diff {
  text-transform: capitalize;
}

/* line 555 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum .subcat,
.window .learningCat .addPathsBody .userPath .linkSum .filter,
.window .learningCat .addPathsBody .userPath .linkSum .diff {
  display: inline-block;
  border-radius: 2px;
  padding: 2px 4px;
  background-color: #f1f1f1;
  margin: 0 8px 0 0;
}

/* line 561 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum .topLine {
  padding-top: 16px;
}

/* line 563 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum .linkLab {
  color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 725px;
}
@media (max-width: 1240px) {

/* line 569 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .addPathsBody .userPath .linkSum .linkLab {
    width: 400px;
  }
}
@media (max-width: 600px) {

/* line 571 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
  .window .learningCat .addPathsBody .userPath .linkSum .linkLab {
    width: 200px;
  }
}

/* line 573 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum h3 {
  display: inline-block;
  color: #3394d4;
  transition: 250ms;
  margin-right: 16px;
  margin-bottom: 4px;
}

/* line 579 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum h3:hover {
  text-decoration: underline;
}

/* line 581 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum .description {
  color: #404040;
  margin-top: 6px;
  line-height: 140%;
}
