
/* line 208 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */

/* line 1 : C:\Users\Kevin\Documents\CodingStuff\learningapp\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
body {
  margin: 0;
  background-color: #ecf0f1;
  transition: 250ms;
}

/* line 5 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
@font-face {
  font-family: 'Roboto', sans-serif;
}

/* line 7 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
h1,
h2,
h3 {
  color: #404040;
  font-family: 'Roboto';
  font-weight: 700;
  margin: 0;
}

/* line 12 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
p,
li,
form,
input,
textarea {
  color: #999;
  font-family: 'Roboto';
  font-weight: 400;
  margin: 0;
}

/* line 17 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
a {
  text-decoration: none;
}

/* line 19 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
a:hover {
  text-decoration: underline;
}

/* line 21 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.container {
  position: relative;
  height: 100%;
}

/* line 24 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#topBar {
  background-color: #3498db;
  width: 100%;
  padding: 10px 0;
}

/* line 30 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#topBar p {
  float: right;
  margin: 0;
  margin-right: 10px;
}

/* line 35 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#topBar h3 {
  color: #404040;
  margin: 0;
  display: inline-block;
  margin-left: 10px;
}

/* line 41 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#sideBar {
  background-color: #2c3e50;
  width: 280px;
  position: absolute;
  top: 43px;
  left: 0;
  bottom: 0;
}

/* line 48 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#sideBar .sideHead {
  padding: 8px 0px 8px 8px;
  background-color: rgba(0,0,0,0.3);
  border-bottom: 2px solid #000;
}

/* line 52 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#sideBar .sideHead h3 {
  color: #fff;
}

/* line 54 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#sideBar p {
  color: #999;
}

/* line 56 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#sideBar .category {
  padding-top: 16px;
}

/* line 58 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#sideBar .category .catHead {
  cursor: pointer;
  margin-bottom: 4px;
  display: inline-block;
}

/* line 62 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */

/* line 63 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#sideBar .category .catHead:hover * {
  color: #999;
  transition: 500ms;
}

/* line 66 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#sideBar .category i {
  color: #f3f3f3;
  float: left;
  padding-left: 8px;
  font-size: 0.8em;
  transition: 500ms;
}

/* line 72 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#sideBar .category p {
  color: #f3f3f3;
  float: left;
  padding-left: 8px;
  margin-top: -4px;
}

/* line 77 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#sideBar .category ul {
  clear: both;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

/* line 83 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#sideBar .category ul li {
  color: #ccc;
  padding: 2px 0;
  margin: 2px 0;
  padding-left: 29px;
  cursor: pointer;
}

/* line 89 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
#sideBar .category ul .listHighlight {
  color: #e74c3c;
}

/* line 91 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window {
  position: absolute;
  top: 43px;
  left: 280px;
  bottom: 0;
  right: 0;
}

/* line 97 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window #opening {
  text-align: center;
  margin-top: 250px;
}

/* line 100 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window #opening h1 {
  margin-bottom: 2em;
}

/* line 102 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window #opening p {
  width: 500px;
  margin: 0.5em auto;
}

/* line 105 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat {
  display: none;
}

/* line 107 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .header {
  background-color: #ccc;
  border-bottom: 2px solid #999;
  padding-left: 16px;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* line 114 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .header h2 {
  color: #2980b9;
}

/* line 116 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .header p {
  font-size: 1.2em;
}

/* line 118 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody {
  margin-left: 16px;
  display: inline-block;
}

/* line 121 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path {
  margin: 4px;
  border: 5px solid #ccc;
  display: inline-block;
  float: left;
  width: 250px;
  height: 400px;
}

/* line 128 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .intro {
  text-align: center;
  margin-top: 120px;
  cursor: pointer;
  transition: 250ms;
}

/* line 133 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .intro i {
  font-size: 5em;
  color: #e74c3c;
}

/* line 136 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .intro p {
  line-height: 140%;
  margin-top: 0.5em;
  font-size: 1.2em;
}

/* line 140 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .intro:hover {
  margin-top: 110px;
}

/* line 142 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .form {
  display: none;
}

/* line 144 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .form form {
  margin: 8px 0 0 8px;
}

/* line 146 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .form form .basicInfo.chunk {
  display: block;
}

/* line 148 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .form form .basicInfo.chunk .nameOfCat,
.window .learningCat .pathsBody .path .form form .basicInfo.chunk .upVoteTotal {
  display: none;
}

/* line 150 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .form form .chunk {
  display: none;
}

/* line 152 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .form form .chunk .formBtn {
  margin-top: 8px;
}

/* line 154 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .form form .chunk .ui-buttonset {
  display: inline-block;
}

/* line 156 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .form form .chunk .ui-buttonset input {
  display: none;
}

/* line 158 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .path .form form .chunk .ui-buttonset label {
  float: left;
  padding: 2px;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
}

/* line 165 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .userPath {
  position: relative;
}

/* line 167 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .userPath .titleTop {
  background-color: #f3f3f3;
  padding-left: 8px;
  margin-bottom: 4px;
  border-bottom: 1px solid #999;
}

/* line 172 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .userPath .titleTop h3 {
  color: #e74c3c;
}

/* line 174 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .userPath .advice {
  margin-bottom: 8px;
}

/* line 176 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .userPath .list {
  margin-top: 10px;
}

/* line 178 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .userPath .popBar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f3f3f3;
  font-size: 1.2em;
}

/* line 185 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .userPath .popBar .upTotal {
  color: #3498db;
  margin: 0 0 0 4px;
  padding: 8px 0;
  display: inline-block;
}

/* line 190 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .userPath .popBar i {
  margin-left: 8px;
  color: #999;
  transition: 250ms;
}

/* line 194 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.window .learningCat .pathsBody .userPath .popBar i:hover {
  color: #3498db;
  cursor: pointer;
}

/* line 198 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.formBtn {
  border-radius: 2px;
  padding: 4px;
  background-color: #2980b9;
  color: #fff;
  width: 100px;
  cursor: pointer;
  text-align: center;
  font-weight: 300;
}

/* line 207 : C:\Users\Kevin\Documents\CodingStuff\learningapp\src\styles\main.styl */
.formBtn:hover {
  background-color: #3498db;
}
