
/* line 358 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */

/* line 1 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
body {
  margin: 0;
  background-color: #fafafa;
  transition: 250ms;
}

/* line 5 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
@font-face {
  font-family: 'Roboto', sans-serif;
}

/* line 7 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
h1,
h2,
h3 {
  color: #404040;
  font-family: 'Roboto';
  font-weight: 700;
  margin: 0;
}

/* line 12 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
p,
li,
form,
input,
textarea,
div {
  color: #999;
  font-family: 'Roboto';
  font-weight: 400;
  margin: 0;
}

/* line 17 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
input,
textarea {
  font-family: inherit;
}

/* line 19 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
a {
  text-decoration: none;
}

/* line 21 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
a:hover {
  text-decoration: underline;
}

/* line 23 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.actionBtn {
  border-radius: 2px;
  background-color: #63acd9;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

/* line 29 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.actionBtnMin {
  border-radius: 2px;
  background-color: #7979c7;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

/* line 36 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.container {
  position: relative;
  height: 100%;
}

/* line 39 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.search {
  float: right;
  margin-top: 3px;
  margin-right: 16px;
  background-color: #ccc;
  margin-right: 5px;
  border-radius: 0 2px 2px 0;
}

/* line 46 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.search input {
  padding: 6px 4px;
  width: 250px;
  font-size: 14px;
  border: none;
}

/* line 51 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.search i {
  padding: 0 8px 0 4px;
  cursor: pointer;
  color: #404040;
}

/* line 55 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#topBar {
  background-color: #e6e6e6;
  width: 100%;
  padding: 6px 0;
  position: fixed;
  z-index: 10;
}

/* line 61 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#topBar img {
  display: inline-block;
  height: 33px;
  margin-left: 8px;
}

/* line 65 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#topBar h3 {
  color: #404040;
  vertical-align: top;
  margin: 6px 0 0 6px;
  display: inline-block;
}

/* line 70 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#topBar p {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin: 10px 0 0 4px;
}

/* line 75 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar {
  background-color: #2c3e50;
  width: 280px;
  position: fixed;
  top: 49px;
  left: 0;
  bottom: 0;
}

/* line 82 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .sideHead {
  padding: 8px 0px 8px 8px;
  background-color: rgba(0,0,0,0.3);
  border-bottom: 2px solid #000;
}

/* line 86 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .sideHead h3 {
  color: #fff;
}

/* line 88 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar p {
  color: #999;
}

/* line 90 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar a:hover {
  text-decoration: none;
}

/* line 92 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category {
  padding-top: 16px;
}

/* line 94 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category p.listHighlight,
#sideBar .category li.listHighlight {
  color: #e74c3c;
}

/* line 96 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category .catHead {
  cursor: pointer;
  margin-bottom: 4px;
  display: inline-block;
}

/* line 100 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */

/* line 101 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category .catHead:hover * {
  color: #999;
  transition: 500ms;
}

/* line 104 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category i {
  color: #f3f3f3;
  float: left;
  padding-left: 8px;
  font-size: 0.8em;
  transition: 500ms;
}

/* line 110 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category p {
  color: #f3f3f3;
  float: left;
  padding-left: 8px;
  margin-top: -4px;
}

/* line 115 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category ul {
  clear: both;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

/* line 121 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .category ul li {
  color: #ccc;
  padding: 2px 0;
  margin: 2px 0;
  padding-left: 29px;
  cursor: pointer;
}

/* line 127 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
#sideBar .suggest {
  margin-top: 8px;
  width: 160px;
  margin: 16px auto 0 auto;
  font-size: 14px;
  text-align: center;
}

/* line 133 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window {
  position: absolute;
  top: 49px;
  left: 280px;
  bottom: 0;
  right: 0;
}

/* line 139 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .comments {
  bottom: 8px;
  right: 8px;
  position: fixed;
  font-size: 14px;
}

/* line 144 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening {
  text-align: center;
}

/* line 146 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .backImg {
  width: 100%;
  background: url("/img/mainBackSM.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  z-index: -1;
}

/* line 156 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .backImg .screen {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* line 160 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening h1 {
  color: #fff;
  margin-top: 5.5em;
  margin-bottom: 0.75em;
}

/* line 164 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening > p {
  color: #fff;
  font-size: 18px;
  width: 500px;
  line-height: 140%;
  margin: 0 auto;
}

/* line 170 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat {
  display: inline-block;
  width: 160px;
  margin: 160px 16px 0 16px;
}

/* line 174 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat > p {
  color: #ccc;
}

/* line 176 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat .links {
  margin: 8px 0 4px 0;
}

/* line 178 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */

/* line 179 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat .initChoice span {
  font-weight: 700;
  font-size: 22px;
}

/* line 182 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat .initChoice .fa {
  font-size: 22px;
  padding: 2px 0 3px 0;
}

/* line 185 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window #opening .mainPgCat .initChoice p {
  display: inline-block;
  color: #fff;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 6px;
}

/* line 191 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat {
  display: none;
}

/* line 193 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .legend {
  position: fixed;
  top: 57px;
  right: 8px;
  padding: 4px 8px;
  background-color: #e6e6e6;
}

/* line 199 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .legend p {
  color: #7979c7;
  margin-bottom: 4px;
  font-weight: 700;
}

/* line 203 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .legend p.second {
  margin-top: 8px;
}

/* line 205 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .legend input {
  margin-right: 2px;
  margin-bottom: 8px;
  margin-left: 8px;
}

/* line 209 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .legend label {
  color: #404040;
  font-weight: 300;
  cursor: pointer;
}

/* line 213 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions {
  margin: 4px 8px;
  width: 800px;
}

/* line 216 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .secondSearch {
  overflow: hidden;
  display: none;
}

/* line 219 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .secondSearch .add {
  color: #fff;
  display: inline-block;
}

/* line 222 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .secondSearch .add i {
  margin-right: 4px;
}

/* line 224 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .secondSearch .add p {
  color: #fff;
  display: inline-block;
}

/* line 227 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .secondSearch .search {
  float: right;
  border: 1px solid #ccc;
}

/* line 230 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath {
  border: 2px solid #7979c7;
  border-radius: 4px;
  position: relative;
}

/* line 234 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */

/* line 235 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form {
  margin: 4px 0 12px 8px;
}

/* line 237 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .invis {
  display: none;
}

/* line 239 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */

/* line 240 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk h3 {
  color: #3394d4;
  display: inline-block;
}

/* line 243 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk select.curCat {
  display: inline-block;
  margin: 0;
  color: #999;
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
}

/* line 250 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk select.curCat .genCat {
  color: #404040;
}

/* line 252 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk select.curCat .specCat {
  font-weight: 300;
}

/* line 254 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk p {
  color: #404040;
  margin-bottom: 4px;
  margin-top: 8px;
}

/* line 258 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk .col1 {
  width: 33%;
}

/* line 260 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk .col2 {
  width: 60%;
  margin-left: 6%;
}

/* line 263 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk .col1,
.window .learningCat .topOptions .newPath .formWrap form .chunk .col2 {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

/* line 267 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk .col1 input[type="text"],
.window .learningCat .topOptions .newPath .formWrap form .chunk .col2 input[type="text"],
.window .learningCat .topOptions .newPath .formWrap form .chunk .col1 textarea,
.window .learningCat .topOptions .newPath .formWrap form .chunk .col2 textarea {
  width: 80%;
  padding: 2px;
}

/* line 270 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk .col1 textarea,
.window .learningCat .topOptions .newPath .formWrap form .chunk .col2 textarea {
  height: 76px;
}

/* line 272 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk .formBtn {
  border: none;
  position: absolute;
  font-size: 14px;
  bottom: 4px;
  right: 4px;
}

/* line 278 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk .ui-buttonset {
  display: inline-block;
}

/* line 280 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk .ui-buttonset input {
  display: none;
}

/* line 282 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk .ui-buttonset label {
  float: left;
  padding: 4px 8px;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
}

/* line 289 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .topOptions .newPath .formWrap form .chunk #formError {
  color: #f00;
  margin-left: 4px;
}

/* line 292 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody {
  margin: 8px 12px 0 12px;
  width: 796px;
  display: inline-block;
}

/* line 296 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath {
  position: relative;
  font-size: 14px;
  margin-bottom: 16px;
}

/* line 300 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .upVoteBox {
  display: inline-block;
  vertical-align: top;
}

/* line 303 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .upVoteBox h2.upTotal {
  display: inline-block;
  color: #404040;
}

/* line 306 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .upVoteBox .approval {
  opacity: 0;
  transition: 250ms;
  font-size: 12px;
}

/* line 310 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .upVoteBox i {
  margin-left: 8px;
  display: inline-block;
  color: #999;
  transition: 250ms;
  font-size: 21px;
  vertical-align: top;
  margin-top: 3px;
}

/* line 318 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .upVoteBox i:hover {
  color: #3498db;
  cursor: pointer;
}

/* line 321 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .upVoteBox i.upvoted {
  pointer-events: none;
  color: #3498db;
}

/* line 324 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum {
  display: inline-block;
  margin-left: 12px;
}

/* line 327 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum h3,
.window .learningCat .addPathsBody .userPath .linkSum .subcat,
.window .learningCat .addPathsBody .userPath .linkSum .filter,
.window .learningCat .addPathsBody .userPath .linkSum .diff {
  text-transform: capitalize;
}

/* line 329 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum .subcat,
.window .learningCat .addPathsBody .userPath .linkSum .filter,
.window .learningCat .addPathsBody .userPath .linkSum .diff {
  display: inline-block;
  border-radius: 2px;
  padding: 2px 4px;
  color: #fff;
  margin: 0 0 0 8px;
}

/* line 335 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum > p:first-of-type {
  margin-left: 16px;
}

/* line 337 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum .subcat {
  background-color: #d47333;
}

/* line 339 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum .filter {
  background-color: #33d473;
}

/* line 341 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum .diff {
  background-color: #d43394;
}

/* line 343 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum .linkLab {
  font-weight: 300;
  color: #ccc;
  width: 725px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 350 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum h3 {
  display: inline-block;
  color: #3394d4;
  transition: 250ms;
}

/* line 354 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum h3:hover {
  text-decoration: underline;
}

/* line 356 : C:\Users\Kevin\Documents\CodingStuff\EmbarkLearning\src\styles\main.styl */
.window .learningCat .addPathsBody .userPath .linkSum .description {
  color: #404040;
  margin-top: 6px;
}
