body {
  margin: 0;
  background-color: #fafafa;
  transition: 250ms;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

@font-face {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'FontAwesome';
}

h1,
h2,
h3 {
  color: #404040;
  font-family: 'Roboto';
  font-weight: 700;
  margin: 0;
}

p,
li,
form,
input,
textarea,
div,
text,
svg {
  color: #737373;
  font-family: 'Roboto';
  font-weight: 400;
  margin: 0;
}

ul{
  padding-left: 24px;
}

li{
  color: #404040;
  font-size: 16px;
}

input,
textarea {
  font-family: monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre.prettyprint{
  margin: 8px 0 !important;
  padding: 0.5em !important;
  font-size:16px;
  font-family: monospace;
}

pre.prettyprint p{
  font-family: monospace;
}

pre.prettyprint.inline{
  width: auto !important;
  display: inline-block !important;
  margin: 0 !important;
  padding: 0.25em !important
}

img.resetStyle, div.resetStyle{
  display: none;
  left: auto;
  right:auto;
  position: static;
}

.actionBtn {
  border-radius: 2px;
  background-color: #f15a5a;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.actionBtn2 {
  border-radius: 2px;
  background-color: #63acd9;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.actionBtn2:hover {
  background-color: #3394d4;
}

.actionBtn3 {
  border-radius: 2px;
  background-color: #7979c7;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.actionBtn3.small, .actionBtn2.small, .actionBtn.small{
  font-size: 14px;
  padding: 0.25em 0.5em;
}

.warn {
  color:red;
  display: none;
  font-size: 18px !important;
}

.warn span{
  font-family: monospace;
  color: #404040;
  display: block;
}

span.def{
  color: #690;
}

.intro, .compBox{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255, 0.9)
}

.intro{
  z-index:8;
}

.compBox{
  z-index: 7;
  display: none;
}

.compBox .fa{
  font-size: 60px;
  color: green;
  margin-bottom:8px;
}

.ctr{
  text-align: center;
  width: 810px;
  height: 125px;
  position: absolute;
  top: 0;
  margin: auto auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.ctr div{
  display: inline-block;
  margin-top: 16px;
}

.startChal{
  cursor: pointer;
  text-decoration: underline;
  margin-top: 8px;
  font-size: 16px;
}

#topBar {
  width: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  padding: 4px 0 2px 0;
}

#topBar img {
  height: 35px;
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
}

#topBar h3 {
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
  margin-top: 7px;
  font-weight: 400;
}

#topBar .actionBtn {
  float: right;
  font-size: 14px;
  margin-right: 8px;
  margin-top: 2px;
}

#main{
  position: absolute;
  top: 46px;
  bottom: 0;
  left: 0;
  width: 67%;
  background-color: #ecf0f1;
}

#main2{
  position: absolute;
  top: 46px;
  bottom: 0;
  left: 50%;
  width: 50%;
  background-color: #ecf0f1;
}

.showHTML, .showHTML2, .codeSub{
  float:right;
  margin: 8px 8px 0 0;
  clear:right;
}

.htmlSnip, .htmlSnip2{
  z-index: 100;
  right:8px;
  top:64px;
  position: absolute;
  width: auto !important;
  display: none;
}

#side{
  position: absolute;
  top: 46px;
  bottom: 50px;
  overflow-y: auto; 
  right: 0;
  width: 33%;
  background-color: #fafafa;
  border-left: 1px solid #e6e6e6;
}

#side2{
  position: absolute;
  top: 46px;
  bottom: 0px;
  overflow-y: auto; 
  left: 0;
  width: 50%;
  background-color: #fafafa;
  border-right: 1px solid #e6e6e6;
}

.sideSect{
  padding: 4px 8px;
  text-align: center;
  display: none;
}

.sideSect a p, .sideSect .displayObj{
  color:#3394d4;
  margin-top: 4px;
  display: table;
  cursor: pointer;
}

.sideSect.first{
  display: block;
}

.sideSect .header, .sideSect .txtbod, .sideSect .uniqData{
  text-align: left;
}

.txtbod {
  padding-top: 12px;
}

.txtbod > p{
  margin-top: 4px;
}

.uniqData .indent{
  padding-left: 8px;
}

.sideSect p{
  font-size: 16px;
}

.sideSect .code{
  margin: 4px 0;
  color: #404040;
  font-size: 14px;
}

.sideSect .code2{
  word-break: break-all;
}

.sideSect h3{
  font-size: 16px;
  margin-top: 12px;
}

.sideSect .actionBtn2{
  display: inline-block;
  margin: 24px auto 0 auto;
}

.sideSect .actionBtn3{
  display: inline-block;
  margin: 12px auto 0 auto;
}

.sideSect input, .sideSect textarea{
  padding: 4px;
  width: 85%;
  margin: 2px 0 4px 0;
  background-color: #404040;
  border: none;
  border-radius: 2px;
  color: #fafafa;
  resize:none;
  font-size: 16px;
}

.sideSect > h3{
  margin: 12px 0;
}

.footer{
  position: fixed;
  bottom: 0;
  right:0;
  width: 33%;
  background: #f3f3f3;
  text-align: center;
  font-size: 18px;
  padding: 8px 0;
}

.footer p{
  color: #404040;
}