body
	margin 0
	background-color #fafafa
	transition 250ms
@font-face
	font-family 'Roboto', sans-serif
@font-face
	font-family 'FontAwesome'
h1, h2, h3
	color #404040
	font-family 'Roboto'
	font-weight 700
	margin 0
p, li, form, input, textarea, div, text, svg
	color #999
	font-family 'Roboto'
	font-weight 400
	margin 0
input, textarea
	font-family inherit
a
	text-decoration none
	&:hover
		text-decoration underline

.actionBtn
	border-radius 2px
	background-color #F15A5A
	color white
	padding 0.5em 1em
	cursor pointer

#topBar
	width 100%
	background-color #63ACD9
	width 100%
	padding 4px 0 2px 0
	img
		height 35px
		display inline-block
		margin-left 8px
	h3
		display inline-block
		margin-left 4px
		vertical-align top
		margin-top 6px
		color white
		font-weight 300
	.actionBtn
		float right
		font-size 14px
		margin-right 8px
		margin-top 2px

.orders
	text-align center
	padding-top 6px
	h3
		color #2D95BF

#mainBubble
	position relative
	svg
		left 0
		position absolute
		top 0
	.lineObj, .vertLine
		stroke-width 0.5px
		stroke #e6e6e6
	circle.topBubble
		stroke-width 3px
	.topBubbleText
		fill white
		pointer-events none
	.topBubbleChar
		font-family FontAwesome
		fill white
		pointer-events none
	circle.smBubble
		cursor pointer
		opacity 0.5
		stroke-width 3px
		&:hover
			fill #404040 !important
	text.smBubbleTxt
		opacity 0.5
		pointer-events none
		fill white
	div#tooltip
		position absolute
		text-align center
		padding 4px
		z-index 30
		background #404040
		border 0px
		border-radius 4px
		div.cat
			display inline-block
			padding 0 8px
			cursor pointer
		i
			font-size 18px
		p
			font-size 14px
			color white
			margin-top 2px
		p.tipTitle
			font-size 16px
			margin-bottom 8px
			margin-top 0
		.triangle
			width 0
			position absolute
			top -8px
			left 137px 
			height 0
			border-left 8px solid transparent
			border-right 8px solid transparent
			border-bottom 8px solid #404040

.labels
	width 100%
	.border
		height 3px
		width 100%
		background #999 /* For browsers that do not support gradients */
		/* For Safari 5.1 to 6.0 */
		background: -webkit-linear-gradient(left,#2D95BF, #4EBA6F, #F0C419, #F15A5A, #955BA5);
		/* For Opera 11.1 to 12.0 */
		background: -o-linear-gradient(left,#2D95BF, #4EBA6F, #F0C419, #F15A5A, #955BA5);
		/* For Fx 3.6 to 15 */
		background: -moz-linear-gradient(left,#2D95BF, #4EBA6F, #F0C419, #F15A5A, #955BA5);
		/* Standard syntax */
		background: linear-gradient(to right, #2D95BF, #4EBA6F, #F0C419, #F15A5A, #955BA5); 
	p 
		width 31.5%
		font-size 14px
		padding-left 0.5%
		margin-left 0.5%
		display inline-block
		color #999
	.front, .back
		border-left 1px solid #999

.topTuts
	background-color #e9eaed
	padding 4px 8px
	margin 0 24px
	display none
	border-radius 4px
	.tLine
		h3.topP
			font-size 14px
			font-weight 300
			color #2D95BF
		*
			display inline-block
		img, a,p
			float right
		img
			height 20px
		p
			color #3394d4
			font-size 14px
			margin 2px 4px 0 8px
			&:hover
				text-decoration underline
	.topLinks
		.linkSum
			display none
			p
				font-size 14px
			.subcat, .filter, .diff, .votes
				display inline-block
				text-transform capitalize
				border-radius 2px
				padding 2px 4px
				background-color #f3f3f3
				margin 0 8px 0 0
			.topLine
				padding-top 16px
				@media (max-width: 1400px)
					padding-top 8px
			.linkLab
				color #ccc
				white-space nowrap
				overflow hidden
				text-overflow ellipsis
				width 725px
			h3
				display inline-block
				color #3394d4
				font-size 16px
				transition 250ms
				margin-right 16px
				margin-bottom 4px
				.fa
					margin-right 4px
				&:hover
					text-decoration underline
			.description
				color #404040
				font-size 12px