body
	margin 0
	background-color #f1f1f1
	transition 250ms
@font-face
	font-family 'Roboto', sans-serif
h1, h2, h3
	color #404040
	font-family 'Roboto'
	font-weight 700
	margin 0
p, li, form, input, textarea, div, text, svg
	color #999
	font-family 'Roboto'
	font-weight 400
	margin 0
input, textarea
	font-family inherit
a
	text-decoration none
	&:hover
		text-decoration underline

#mainBubble
	background #fff
	border solid 2px #ddd
	box-shadow 0 0 4px rgba(0,0,0,0)
	height 800px
	position: relative
	width 80%
		   
#mainBubble svg
	left 0
	position absolute
	top 0
					   
#mainBubble circle.topBubble
	fill #aaa
	stroke #666
	stroke-width 1.5px

#mainBubble div.tooltip
	position absolute
	text-align: center
	padding 2px
	font-size 12px
	z-index 30
	background lightsteelblue
	border 0px
	border-radius 8px
	pointer-events none