body
	margin 0
	background-color #fafafa
	transition 250ms
@font-face
	font-family 'Roboto', sans-serif
h1, h2, h3
	color #404040
	font-family 'Roboto'
	font-weight 700
	margin 0
p, li, form, input, textarea, div
	color #999
	font-family 'Roboto'
	font-weight 400
	margin 0
input, textarea
	font-family inherit
a
	text-decoration none
	&:hover
		text-decoration underline
.actionBtn
	border-radius 2px
	background-color #63ACD9
	color white
	padding 0.5em 1em
	cursor pointer
.actionBtnMin
	border-radius 2px
	background-color #7979c7
	color white
	padding 0.5em 1em
	cursor pointer
	
.container
	position relative
	height 100%
.search
	float right
	margin-top 3px
	margin-right 16px
	background-color #ccc	
	margin-right 5px
	border-radius 0 2px 2px 0
	input
		padding 6px 4px
		width 250px
		font-size 14px
		border none
	i
		padding 0 8px 0 4px
		cursor pointer
		color #404040	
#topBar
	background-color #e6e6e6
	width 100%
	padding 6px 0
	position fixed
	z-index 10
	img
		display inline-block
		height 33px
		margin-left 8px
	h3
		color #404040
		vertical-align top
		margin 6px 0 0 6px
		display inline-block
	p
		display inline-block
		vertical-align top
		font-size 14px
		margin 10px 0 0 4px
#sideBar
	background-color #2C3E50
	width 280px
	position fixed
	top 49px
	left 0
	bottom 0
	.sideHead
		padding 8px 0px 8px 8px
		background-color rgba(0,0,0,0.3)
		border-bottom 2px solid black
		h3
			color white
	p
		color #999
	a:hover
		text-decoration none
	.category
		padding-top 16px
		p.listHighlight, li.listHighlight
			color #e74c3c
		.catHead
			cursor pointer
			margin-bottom 4px
			display inline-block
			&:hover
				*
					color #999
					transition 500ms
		i 
			color #f3f3f3
			float left
			padding-left 8px
			font-size 0.8em
			transition 500ms
		p
			color #f3f3f3
			float left
			padding-left 8px
			margin-top -4px
		ul
			clear both
			list-style-type none
			padding 0
			margin 0
			display none
			li
				color #ccc
				padding 2px 0
				margin 2px 0
				padding-left 29px
				cursor pointer
	.suggest
		margin-top 8px
		width 160px
		margin 16px auto 0 auto
		font-size 14px
		text-align center
.window
	position absolute
	top 49px
	left 280px
	bottom 0
	right 0
	.comments
		bottom 8px
		right 8px
		position fixed
		font-size 14px
	#opening
		text-align center
		.backImg
			width 100%
			background url('/img/mainBackSM.jpg') no-repeat center center
			background-size cover
			position absolute
			top 0
			left 0
			right 0
			height 400px
			z-index -1
			.screen
				width 100%
				height 100%
				background-color rgba(0,0,0,0.5)
		h1
			color white
			margin-top 5.5em
			margin-bottom 0.75em
		> p
			color white
			font-size 18px
			width 500px
			line-height 140%
			margin 0 auto
		.mainPgCat
			display inline-block
			width 160px
			margin 160px 16px 0 16px
			> p
				color #ccc
			.links
				margin 8px 0 4px 0
			.initChoice
				span
					font-weight 700
					font-size 22px
				.fa
					font-size 22px
					padding 2px 0 3px 0
				p
					display inline-block
					color white
					vertical-align top
					margin-top 4px
					margin-left 6px
	.learningCat
		display none
		.legend
			position fixed
			top 57px
			right 8px
			padding 4px 8px
			background-color #e6e6e6
			p
				color #7979c7
				margin-bottom 4px
				font-weight 700
			p.second
				margin-top 8px
			input
				margin-right 2px
				margin-bottom 8px
				margin-left 8px
			label
				color #404040
				font-weight 300
				cursor pointer
		.topOptions
			margin 4px 8px
			width 800px
			.secondSearch
				overflow hidden
				display none
				.add
					color white
					display inline-block
					i
						margin-right 4px
					p
						color white
						display inline-block
				.search
					float right
					border 1px solid #ccc
			.newPath
				border 2px solid #7979c7
				border-radius 4px
				position relative
				.formWrap
					form
						margin 4px 0 12px 8px
						.invis
							display none
						.chunk
							h3
								color #3394d4
								display inline-block
							select.curCat
								display inline-block
								margin 0
								color #999
								margin-left 8px
								font-weight 400
								font-size 14px
								.genCat
									color #404040
								.specCat
									font-weight 300
							p
								color #404040
								margin-bottom 4px
								margin-top 8px
							.col1
								width 33%
							.col2
								width 60%
								margin-left 6%
							.col1, .col2
								font-size 14px
								display inline-block
								vertical-align top
								input[type="text"], textarea
									width 80%
									padding 2px
								textarea
									height 76px
							.formBtn
								border none
								position absolute
								font-size 14px
								bottom 4px
								right 4px
							.ui-buttonset
								display inline-block
								input
									display none
								label
									float left
									padding 4px 8px
									font-size 1em
									font-weight 400
									font-family inherit
									cursor pointer
							#formError
								color red
								margin-left 4px
		.addPathsBody
			margin 8px 12px 0 12px
			width 796px
			display inline-block
			.userPath
				position relative
				font-size 14px
				margin-bottom 16px
				.upVoteBox
					display inline-block
					vertical-align top
					h2.upTotal
						display inline-block
						color #404040
					.approval
						opacity 0
						transition 250ms
						font-size 12px
					i
						margin-left 8px
						display inline-block
						color #999
						transition 250ms
						font-size 21px
						vertical-align top
						margin-top 3px
						&:hover
							color #3498db
							cursor pointer
					i.upvoted
						pointer-events none
						color #3498db
				.linkSum
					display inline-block
					margin-left 12px
					h3, .subcat, .filter, .diff
						text-transform capitalize
					.subcat, .filter, .diff
						display inline-block
						border-radius 2px
						padding 2px 4px
						color white
						margin 0 0 0 8px
					> p:first-of-type
						margin-left 16px
					.subcat
						background-color #d47333
					.filter
						background-color #33d473
					.diff
						background-color #d43394
					.linkLab
						font-weight 300
						color #ccc
						width 725px
						white-space nowrap
						overflow hidden
						text-overflow ellipsis
					h3
						display inline-block
						color #3394d4
						transition 250ms
						&:hover
							text-decoration underline
					.description
						color #404040
						margin-top 6px				