body
	margin 0
	background-color #ECF0F1
	transition 250ms
@font-face
	font-family 'Roboto', sans-serif
h1, h2, h3
	color #404040
	font-family 'Roboto'
	font-weight 700
	margin 0
p, li, form, input, textarea
	color #999
	font-family 'Roboto'
	font-weight 400
	margin 0
a
	text-decoration none
	&:hover
		text-decoration underline
.container
	position relative
	height 100%
#topBar
	background-color #3498DB
	width 100%
	padding 10px 0


#topBar p
	float right
	margin 0
	margin-right 10px

#topBar h3
	color #404040
	margin 0
	display inline-block
	margin-left 10px

#sideBar
	background-color #2C3E50
	width 280px
	position absolute
	top 43px
	left 0
	bottom 0
	.sideHead
		padding 8px 0px 8px 8px
		background-color rgba(0,0,0,0.3)
		border-bottom 2px solid black
		h3
			color white
	p
		color #999
	.category
		padding-top 16px
		.catHead
			cursor pointer
			margin-bottom 4px
			display inline-block
			&:hover
				*
					color #999
					transition 500ms
		i 
			color #f3f3f3
			float left
			padding-left 8px
			font-size 0.8em
			transition 500ms
		p
			color #f3f3f3
			float left
			padding-left 8px
			margin-top -4px
		ul
			clear both
			list-style-type none
			padding 0
			margin 0
			display none
			li
				color #ccc
				padding 2px 0
				margin 2px 0
				padding-left 29px
				cursor pointer
			.listHighlight
				color #e74c3c
.window
	position absolute
	top 43px
	left 280px
	bottom 0
	right 0
	#opening
		text-align center
		margin-top 250px
		h1
			margin-bottom 2em
		p
			width 500px
			margin 0.5em auto
	.learningCat
		display none
		.header
			background-color #ccc
			border-bottom 2px solid #999
			padding-left 16px
			margin-bottom 16px
			padding-top 8px
			padding-bottom 8px
			h2
				color #2980B9
			p
				font-size 1.2em
		.pathsBody
			margin-left 16px
			display inline-block
			.path
				margin 4px
				border 5px solid #ccc
				display inline-block
				float left
				width 250px
				height 400px
				.intro
					text-align center
					margin-top 120px
					cursor pointer
					transition 250ms
					i
						font-size 5em
						color #E74C3C
					p
						line-height 140%
						margin-top 0.5em
						font-size 1.2em
					&:hover
						margin-top 110px
				.form
					display none
					form
						margin 8px 0 0 8px
						.basicInfo.chunk
							display block
							.nameOfCat, .upVoteTotal
								display none
						.chunk
							display none
							.formBtn
								margin-top 8px
							.ui-buttonset
								display inline-block
								input
									display none
								label
									float left
									padding 2px
									font-size 1em
									font-weight 400
									font-family inherit
									cursor pointer
			.userPath
				position relative
				.titleTop
					background-color #f3f3f3
					padding-left 8px
					margin-bottom 4px
					border-bottom 1px solid #999
					h3
						color #E74C3C
				.advice
					margin-bottom 8px
				.list
					margin-top 10px
				.popBar
					position absolute
					left 0
					right 0
					bottom 0
					background-color #f3f3f3
					font-size 1.2em
					.upTotal
						color #3498db
						margin 0 0 0 4px
						padding 8px 0
						display inline-block
					i
						margin-left 8px
						color #999
						transition 250ms
						&:hover
							color #3498db
							cursor pointer				

.formBtn
	border-radius 2px
	padding 4px
	background-color #2980B9
	color white
	width 100px
	cursor pointer
	text-align center
	font-weight 300
	&:hover
		background-color #3498DB